[submodule "WS2812"]
	path = WS2812
	url = git@github.com:bowersNick/WS2812.git
[submodule "Ultrasonic"]
	path = Ultrasonic
	url = git@github.com:bowersNick/Ultrasonic.git
[submodule "PCA9685"]
	path = PCA9685
	url = git@github.com:bowersNick/PCA9685.git
